{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h3>{{ property.rooms }} pièces - {{ property.surface }} m2</h3>
                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }} FCFA</div>
                    <a href="#" class="btn btn-primary">Contacter nous</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">


            <p class="">{{ property.description | nl2br }}</p>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Caractéristiques </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }} </td>
                    </tr>
                    <tr>
                        <td>Chambes</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }} </td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }} </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécifités</h2>

            </div>
        </div>

    </div>
{% endblock %}
