{% extends 'base.html.twig' %}

{% block title %} Properta {% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur Properta</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias, animi architecto autem
            beatae cupiditate dignissimos, doloremque doloribus earum eius eveniet excepturi fugiat fugit id illum
            incidunt laudantium minus nesciunt numquam obcaecati odit optio quis quos recusandae sequi sint sit soluta
            tenetur, totam ullam velit veritatis voluptatem voluptatibus voluptatum.</p>
    </div>

    <div class="container">
        <h2>Les Derniers Biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</h5></a>
                            <p class="card-text">{{ property.city }}  {{ property.postalCode }}</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }}F CFA</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
